* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
:root {
    --primary-color: rgb(14, 149, 239);
    --light-color: #e0e0ea;
    --dark-color: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgb(52, 51, 51);
}
.light-btn {
    border: white;
    background-color: rgba(234, 231, 231, 0.763);
    padding: 8px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
} 
.light-btn:hover {
    background-color: var(--light-color);
    color: var(--primary-color)
}
.dark-btn {
    border: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
} 
.dark-btn:hover {
    background-color: rgb(86, 178, 240);
}
img {
    max-width: 100%;
}

.navbar {
    padding: 16px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .main-menu ul {
    display: flex;
}
.navbar ul li a, .navbar ul li button {
    padding: 20px;
    display: block;
    transition: 0.5s;
    font-weight: 600;
}
.navbar ul li a:hover , .navbar ul li button:hover{
    color: var(--primary-color);
}
.container {
    max-width: 1100px;
    padding: 0 16px;
    margin: 0 auto;
}
.hero {
    margin-bottom: 50px;
}
.hero .container {
    background: url('./images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
}
.hero h1 {
    font-size: 2.8rem;
    margin: 40px 0 20px;
    line-height: 1.2;
    max-width: 850px;
}
.hero p {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 20px;
}
.hero button {
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    margin: 5px;
    width: 120px;
}
.hero .demo {
    width: 180px;
    height: 46.5px;
}
.video {
    background-color: rgb(6, 5, 14);   
    padding: 20px;
    text-align: center;
}
.video h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    padding: 20px;
    max-width: 650px;
    font-weight: normal;
}
.video-content {
    margin-bottom: 10px;
}
.video button {
    padding: 13px;
    margin-bottom: 10px;
}
.testimonials {
    background-color: rgb(28, 27, 29);
    padding: 50px;
    color: white;
}
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.testimonials h2 {
    font-size: 30px;
    width: 550px;
    margin-bottom: 20px;
    font-weight: normal;
}
.card {
    background-color: #fff;
    color: black;
    border-radius: 10px;
    padding: 20px;
}
.testimonials .card p:nth-child(2) {
    font-weight: bold;
    padding-top: 30px;
}
.pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    margin: 0 auto;
    gap: 20px;
}
.pricing .card {
    padding: 25px;
}
.pricing button {
    margin-top: 10px;
    width: 100%;
    margin-left: 0;    
    padding: 10px;
}
.card .heading {
    padding-top: 20px;
    padding-bottom: 15px;
}
.card-subheading {
    margin-bottom: 30px;
}
.card-pricing {
    padding-bottom: 30px;
    margin-bottom: 35px;
    border-bottom: 1px solid grey;
}
.pricing h2 {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    padding: 10px;
}
.pricing .subtext {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-bottom: 25px;

}
.pricing ul {
    margin: 30px 0;
}
.pricing li {
    font-size: 13px;
    margin: 20px 0;
}
.pricing .pricing-header {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.pricing .dark {
    background-color: rgb(3, 3, 11);
    color: white;
}
.pricing .light {
    background-color: #eeeeef;
}
.pricing .footer {
    padding: 30px;
    text-align: center;
}
.faq {
    padding: 40px 0;
}
.faq-group {
    border-bottom: 1px solid #ccc;
    padding: 30px;
}
.faq .faq-group .faq-group-header {
    padding: 20px 0;
    margin-bottom: 15px;
    position: relative;
}
.faq .faq-group .faq-group-header h4 {
    font-weight: 600;
    font-size: 20px;
    width: 95%;
}
.faq .faq-group .faq-group-header i {
    position: absolute;
    right: 0;
    padding: 10px;
    top: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.faq .faq-group .faq-group-header i:hover {
    background-color: rgb(234, 234, 234);
}
.faq .faq-group .faq-group-header i:active {
    background-color: rgb(177, 174, 174);
    border-radius: 20px;
}
.faq .faq-group .faq-group-body {
    display: none;
}
.faq .faq-group .faq-group-body.open {
    display: block;
}
.faq-button {
    text-align: center;
    display: flex;
    justify-content: center;
}
.faq button {
    padding: 10px 20px;
    margin: 5px;
}
.faq h2 {
    font-size: 33px;
    font-weight: normal;
    text-align: center;
    padding: 30px;
}
.container-sm {
    max-width: 800px;
    padding: 0 16px;
    margin: 0 auto;
}
